<div class="container">
  <div class="movie-wrap">
    <app-movie title="Harry Potter and the Sorcerer's Stone" year="2001"
               url="https://img.usanetwork.com/sites/nbcunbc/files/images/2019/5/29/HarryPotterAndTheSorcerersStone-S1-KeyArt-Logo-Vertical-852x1136.jpg?impolicy=nbc_com&imwidth=340&imdensity=1"></app-movie>
    <app-movie title="Harry Potter and the Chamber of Secrets" year="2002"
               url="https://img.usanetwork.com/sites/nbcunbc/files/images/2019/5/29/HarryPotterAndTheChamberOfSecrets-KeyArt-Logo-Vertical-852x1136.jpg?impolicy=nbc_com&imwidth=340&imdensity=1"></app-movie>
    <app-movie title="Harry Potter and the Prisoner of Azkaban" year="2004"
               url="https://img.usanetwork.com/sites/nbcunbc/files/images/2019/5/29/HarryPotterAndThePrisonerOfAzkaban-S3-KeyArt-Logo-Vertical-852x1136.jpg?impolicy=nbc_com&imwidth=340&imdensity=1"></app-movie>
  </div>
</div>
