.header {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  flex-grow: 1;
}

img {
  display: block;
}
